<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maze Generator</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Maze Generator</h1>
    </header>
    
    <main>

      <form  class = "container">
          <div class = line>
            Width
            <input class = "value-input" type = "number"  value="5" required> 
            Heigth
            <input class = "value-input" type = "number" value="5" required>
          </div>
          <div class = line>
              <input type="checkbox" type="number" class = "option-input">
              Add treasure
              <input type="checkbox" type="number" class = "option-input">
              Add traps
          </div>

          <input class = "send-button" value = "Generate Maze">
          <div class = "result hidden">
            <table class= "result-table">
              
            </table>
            <div class = "line">
              <input type="checkbox" type="number" class = "solution-input">
              Show solution

            </div>
            <table class = "legend">
              <tr>
                <td>
                  <div class = "square road"></div>
                <td>
                <td>
                - path
                </td>
              </tr>
              <tr>
                <td>
                  <div class = "square wall"></div>
                <td>
                <td>
                - wall
                </td>
              </tr>
              <tr>
                <td>
                  <div class = "square treasure"></div>
                <td>
                <td>
                - treasure
                </td>
              </tr>
              <tr>
                <td>
                  <div class = "square trap"></div>
                <td>
                <td>
                - trap
                </td>
              </tr>
              <tr>
                <td>
                  <div class = "square solution-legend"></div>
                <td>
                <td>
                - path to exit
                </td>
              </tr>
              <tr>
                <td>
                  <div class = "square solution2-legend"></div>
                <td>
                <td>
                - path to treasure from path to exit
                </td>
              </tr>
              <tr>
                <td>
                  <div class = "square exit"></div>
                <td>
                <td>
                - exit
                </td>
              </tr>
              
              <tr>
                <td>
                  <div class = "square entrance"></div>
                <td>
                <td>
                - entrance
                </td>
              </tr>
            </table>  
          </div>
        </form>

  </main>
    
  <script src="scripts/script.js"></script>
</body>
</html>