<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maze Generator</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Maze Generator</h1>
    </header>
    
    <main>
      <form  class = "container">
          <div class = line>
            Width
            <input class = "value-input" type = "number"  value="5" required> 
            Heigth
            <input class = "value-input" type = "number" value="5" required>
          </div>
          <div class = line>
              <input type="checkbox" type="number" class = "option-input">
              option1
              <input type="checkbox" type="number" class = "option-input">
              option2
          </div>

          <input type = "submit" class = "send-button" value = "Generate Maze">
          <div class = result>
            <table class= "result-table">
              
            </table>
            <div class = line>
              <input type="checkbox" type="number" class = "solution-input">
              Show solution
              <input type="checkbox" type="number" class = "solution-input">
              option2
            </div>
          </div>
        </form>
  </main>
    
  <script src="scripts/script.js"></script>
</body>
</html>