body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background: url(../images/bg.jpg);
    
    background-size: cover;
    background-position: top;
}

header{
    height: 50px;
    width: 100%;
    color: white;
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    font-size: 25px;
    margin: 10px;
}

.container{
    
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    margin-top: 50px;
    background: #333333;
    color: white;
    padding-bottom: 30px;
    border-radius: 20px;
    width: 500px;
    gap: 20px;
    padding: 10px;
}

.line{
    display: inline;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

input{
    margin: 15px;
}

.link-input{
    font-size: 20px;
    height: 25px;
}

.line{
    font-size: 18px;
}

.send-button{
    width: 170px;
    height: 30px;
    font-size: 25px;
    color: white;
    background: linear-gradient(to left, blue, violet);
    border: none;
    align-self: center;
    border-radius: 10px;
    padding-bottom: 5px;
}

.send-button:hover{
    background: linear-gradient(to right, lightblue, blue);;
}

.text-label{
    align-self: center;
    font-size: 20px;
}

.result-table{
    width: 500px;
    height: 500px;
    border-collapse: collapse;
    border-spacing: 0;
}

.wall{
    background-color: black;
}

.road{
    background-color: white;
}

.exit{
    background-color: green;
}

.entrance{
    background-color: lightgreen;
}

.treasure{
    background-color: brown;
}

.hidden{
    display: none;
}
.solution2{
    background-color: blue;

}
.solution{
    background-color: coral;

}
.road{
    background-color: white;
}

.trap{
    background-color: purple;
}

.square{
    width: 15px;
    height: 15px;
}
.solution2-legend{
    background-color: blue;

}
.solution-legend{
    background-color: coral;

}